<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uv5kTopSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Uv5kTopSim.Properties.Settings>
            <setting name="IpPropia" serializeAs="String">
                <value>192.168.0.71</value>
            </setting>
            <setting name="PortSnmp" serializeAs="String">
                <value>161</value>
            </setting>
            <setting name="IpServidor" serializeAs="String">
                <value>192.168.0.129</value>
            </setting>
            <setting name="PortSnmpServidor" serializeAs="String">
                <value>161</value>
            </setting>
        </Uv5kTopSim.Properties.Settings>
    </applicationSettings>
</configuration>