<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MCastGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <MCastGen.Properties.Settings>
            <setting name="ipFrom" serializeAs="String">
                <value>192.168.0.71</value>
            </setting>
            <setting name="ipTo" serializeAs="String">
                <value>224.100.10.1</value>
            </setting>
            <setting name="udpPort" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="tifxName" serializeAs="String">
                <value>CGW01</value>
            </setting>
        </MCastGen.Properties.Settings>
    </userSettings>
</configuration>
