<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioVoipSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <RadioVoipSim.Properties.Settings>
            <setting name="IpBase" serializeAs="String">
                <value>192.168.1.205</value>
            </setting>
            <setting name="SipPort" serializeAs="String">
                <value>7060</value>
            </setting>
            <setting name="CoresipLogLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SqhQueueOn" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SqhQueueOff" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FileWavPlayer" serializeAs="String">
                <value>Resources\Hold.wav</value>
            </setting>
            <setting name="config" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RX1-AGL#0</string>
                        <string>TX1-AGL#1#RX1-AGL</string>
                        <string>RX2-AGL#0</string>
                        <string>TXRX2-AGL#1#TXRX2-AGL</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RssiQidx" serializeAs="String">
                <value>10</value>
            </setting>
        </RadioVoipSim.Properties.Settings>
    </applicationSettings>
</configuration>