<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uv5kGwSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Uv5kGwSim.Properties.Settings>
            <setting name="IpServidor" serializeAs="String">
                <value>192.168.0.129</value>
            </setting>
            <setting name="PortSnmpServidor" serializeAs="String">
                <value>162</value>
            </setting>
            <setting name="dual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CgwaIp" serializeAs="String">
                <value>192.168.0.212</value>
            </setting>
            <setting name="CgwaPort" serializeAs="String">
                <value>10161</value>
            </setting>
            <setting name="CgwbIp" serializeAs="String">
                <value>192.168.0.213</value>
            </setting>
            <setting name="CgwbPort" serializeAs="String">
                <value>20161</value>
            </setting>
        </Uv5kGwSim.Properties.Settings>
    </applicationSettings>
</configuration>