<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="console" xsi:type="ColoredConsole" layout="${time}: ${message}" />
    <target name="consoleext" xsi:type="ColoredConsole" layout="${time}: ${message} ${exception:format=tostring}" />

    <target name="file" xsi:type="File"
			layout="${longdate}: ${message} ${exception:format=tostring}"
			fileName="${basedir}/logs/logfile.txt"
			archiveFileName="${basedir}/logs/log.{#####}.txt"
			archiveAboveSize="2000000"
			archiveNumbering="Rolling"
			maxArchiveFiles="32"
			concurrentWrites="false"
			encoding="iso-8859-2" />

    <target name="eventlog" xsi:type="EventLog"
				  layout="${message} ${exception:format=tostring}"
				  source="u5kman"
				  log="Application" />

    <target name="network" xsi:type="Network"
			address="udp://192.168.0.129:878"
			newLine="false" maxMessageSize="65000" encoding="utf-8"
			layout="${log4jxmlevent:includeCallSite=true:includeNLogData=true}${exception:format=tostring}" />

    <target name="csvfile" xsi:type="File"
            fileName="${basedir}/logs/logfile.csv"
			archiveFileName="${basedir}/logs/log.{#####}.csv"
			archiveAboveSize="2000000"
			archiveNumbering="Rolling"
			maxArchiveFiles="32"
			concurrentWrites="false"
			encoding="iso-8859-2" >
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>

    <target name="dbg" xsi:type="Trace" layout="${time}: ${message} ${exception:format=tostring}"></target>
    
    <target name="jsonFile" xsi:type="File" fileName="${basedir}/logs/logfile.json" 
			archiveFileName="${basedir}/logs/log.{#####}.json"
			archiveAboveSize="2000000"
			archiveNumbering="Rolling"
			maxArchiveFiles="3"
			concurrentWrites="false" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
  </targets>
  <rules>
    <!-- add your logging rules here 
      Current LOGGERS:
      
      U5kManServer, uv5kSgmManProgram, U5kServiceMain, U5kManMain, WebAppServer, MainStandbySyncServer
      MainThread, ExtEquSpv, GwExplorer, HistThread, *CentralServicesMonitor*, TopSnmpExplorer, U5kSnmpSystemAgent, PabxItfService, U5kEstadisticaProc, U5kManWebApp
      SipSupervisor, Uvki5WavPlayer, ClusterSim, SnmpLogger, SnmpAgent, SnmpClient,
      U5KStdGeneral, stdPos, stdGw, EquipoEurocae, *DestinoPabx, U5kManWADDbInci,
      sem-hist, Thread, ExceptionInLog, Action, NGThread, Testing      
    -->
    <!--<logger name="*" minlevel="Info" writeTo="console" />-->
    <!--<logger name="*" levels="Info" writeTo="console" />-->
    <logger name="*" minlevel="Debug" writeTo="csvfile" />
    <!--<logger name="*" minlevel="Debug" writeTo="jsonFile" />-->
    <!--<logger name="*" minlevel="Debug" writeTo="sentinel" />-->
    <!--<logger name="U5kSnmpSystemAgent" minlevel="Info" writeTo="console" />-->
    <!--<logger name="*" level="Warn" writeTo="console" />-->
    <!--<logger name="*" levels="Info,Error,Fatal" writeTo="eventlog" />-->
    <!--<logger name="sem-hist" minlevel="Trace" writeTo="file" />-->
    <!--<logger name="stdPos" minlevel="Trace" writeTo="file,console" />-->
    <!--<logger name="stdGw" minlevel="Trace" writeTo="file,console" />-->
    <!--<logger name="EquipoEurocae" minlevel="Trace" writeTo="file,console" />-->
    <!--<logger name="*DestinoPabx" minlevel="Trace" writeTo="file,console" />-->
    <!--<logger name="ExtEquSpv" levels="Trace,Info" writeTo="file,console" />-->
    <!--<logger name="SupervisedItem" levels="Trace" writeTo="file,console" />-->
    <!--<logger name="TopSnmpExplorer" levels="Trace,Info" writeTo="file,console" />-->
    <!--<logger name="GwExplorer" levels="Debug,Info" writeTo="file,console" />-->
    <logger name="PabxItfService" minlevel="Trace" writeTo="file,console" />
    <!--<logger name="sem-hist" minlevel="Info" writeTo="dbg" />-->
  </rules>
</nlog>