<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimulSACTA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimulSACTA.Properties.Settings>
            <setting name="PresenceInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ActivityTimeOut" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="SactaIpA" serializeAs="String">
                <value>192.168.0.71</value>
            </setting>
            <setting name="ListenPortA" serializeAs="String">
                <value>15100</value>
            </setting>
            <setting name="SactaIpB" serializeAs="String">
                <value>192.168.1.71</value>
            </setting>
            <setting name="ListenPortB" serializeAs="String">
                <value>15100</value>
            </setting>
            <setting name="ScvIpA" serializeAs="String">
                <value>192.168.0.212</value>
            </setting>
            <setting name="ScvPortA" serializeAs="String">
                <value>19204</value>
            </setting>
            <setting name="ScvIpB" serializeAs="String">
                <value>192.168.0.212</value>
            </setting>
            <setting name="ScvPortB" serializeAs="String">
                <value>19204</value>
            </setting>
            <setting name="SactaDomain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SactaCenter" serializeAs="String">
                <value>107</value>
            </setting>
            <setting name="SactaGroupUser" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="ScvDomain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScvCenter" serializeAs="String">
                <value>107</value>
            </setting>
            <setting name="ProcessorNumber" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SactaSPSIUser" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="SactaSPVUser" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="ScvUsers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>10</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastSectorization" serializeAs="String">
                <value>1,1;2,2;3,3;4,4;5,5;6,6;7,7;8,8;9,9;10,10;11,11;12,12;13,13;14,14;15,15;18,15;19,15</value>
            </setting>
            <setting name="EnableMulticast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreSectorizaciones" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Sectores Desplegados##1,1;2,2;3,3;4,4;5,5;6,6;7,7;8,8;9,9;10,10;11,11;12,12;13,13;14,14;15,15;18,15;19,15</string>
                        <string>Agrupacion 01 (De 2 en 2)##1,1;2,1;3,2;4,2;5,3;6,3;7,4;8,4;9,5;10,5;11,6;12,6;13,7;14,7;15,15;18,15;19,15</string>
                        <string>Agrupacion 02 (De 3 en 3)##1,1;2,1;3,1;4,2;5,2;6,2;7,3;8,3;9,3;10,4;11,4;12,4;13,5;14,5;15,15;18,15;19,15</string>
                        <string>Agrupacion 03 (De 4 en 4)##1,1;2,1;3,1;4,1;5,2;6,2;7,2;8,2;9,3;10,3;11,3;12,3;13,4;14,4;15,4;18,15;19,15</string>
                        <string>Sectorizacion Erronea 01 (Faltan Sectores Reales)##1,1;2,2;3,3;4,4;5,5;6,6;7,7;8,8;9,9;10,10;11,11;12,12;13,13;15,15;18,15;19,15</string>
                        <string>Sectorizacion Erronea 02 (Sectores Repetidos)##1,1;2,2;3,3;4,4;5,5;6,6;7,7;8,8;9,9;10,10;11,11;12,12;13,13;14,14;15,15;6,10;18,15;19,15</string>
                        <string>Sectorizacion Erronea 03 (Con Sectores Virtuales)##1,1;2,2;3,3;4,4;5,5;6,6;7,7;8,8;9,9;10,10;11,11;12,12;13,13;14,14;15,15;6,10;18,15;19,15;17,4</string>
                        <string>Sectorizacion Erronea 04 (Con Sectores Inexistentes)##1,1;2,2;3,3;4,4;5,5;6,6;7,7;8,8;9,9;10,10;11,11;12,12;13,13;21,14;15,15;6,10;18,15;19,15</string>
                        <string>Sectorizacion Erronea 05 (Con UCS Inexistentes)##1,1;2,2;3,3;4,4;5,5;6,6;7,7;8,8;9,9;10,21;11,11;12,12;13,13;14,14;15,15;6,10;18,15;19,15</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SactaMcastA" serializeAs="String">
                <value>225.12.101.1</value>
            </setting>
            <setting name="SactaMcastB" serializeAs="String">
                <value>225.212.101.1</value>
            </setting>
        </SimulSACTA.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
